<div>
<div style="margin-top: 15px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div>
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Hair</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">Lotion</th>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of record;let x = index">
                <td>{{i.Name}}</td>
                <td>{{i.Hair}}</td>
                <td>{{i.Height}}</td>
                <td>{{i.Weight}}</td>
                <td>{{i.Lotion}}</td>
                <td>{{i.Result}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm" style="background: white;margin-right: 15px">
        One of three columns
      </div>
    </div>
  </div>
  <div style="margin-top: 15px" >
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">

              <div class="from-group">
              <select name="a" id="a" [(ngModel)]="a" class="form-control">
                <option value="1">a</option>
                <option value="2">b</option>
              </select>
            </div><br>

            <div class="from-group">
                <select name="a" id="a" [(ngModel)]="a" class="form-control">
                  <option value="1">a</option>
                  <option value="2">b</option>
                  <option value="1">a</option>
                  <option value="2">b</option>
                  <option value="1">a</option>
                  <option value="2">b</option>
                </select>
              </div>

          </div>
          <div class="col-sm">
              <div class="from-group">
                  <select name="a" id="a" [(ngModel)]="a" class="form-control">
                    <option value="1">a</option>
                    <option value="2">b</option>
                  </select>
                </div><br>

                <div class="from-group">
                    <select name="a" id="a" [(ngModel)]="a" class="form-control">
                      <option value="1">a</option>
                      <option value="2">b</option>
                      <option value="1">a</option>
                      <option value="2">b</option>
                      <option value="1">a</option>
                      <option value="2">b</option>
                    </select>
                  </div>
          </div>
          <div class="col-sm">

              <button type="button" class="btn btn-danger">ประมวลผล</button>
          </div>
          <div class="col-sm" style="background: white; margin-right: 15px" >
              One of froe columns
            </div>
        </div>
      </div>
  </div>



    <!--
<div class="from-group">
        <label class="checkbox-inline">
    Department
    </label>
    <select name="a" id="a" [(ngModel)]="a" class="form-control">
      <option value="1">a</option>
      <option value="2">b</option>
    </select>
  </div>
  {{a}}
    -->
